In [4]:
import sqlite3
conn = sqlite3.connect('jk.db')

c = conn.cursor()

In [20]:
# c.execute('''DROP TABLE gene;''')
# c.execute('''DROP TABLE enzyme;''')
# c.execute('''DROP TABLE en_pa;''')
# c.execute('''DROP TABLE pathway;''')

In [22]:
# c.execute('''CREATE TABLE gene
#              (id INT, name TEXT, sequence TEXT, eid INT )''')

# c.execute('''CREATE TABLE enzyme
#              (id INT, name TEXT, function TEXT )''')

# c.execute('''CREATE TABLE en_pa
#              (eid INT, pid INT )''')

# c.execute('''CREATE TABLE pathway
#              (id INT, name TEXT, description TEXT )''')

In [6]:
# Add Gene

for i in range(12):  
    c.execute("INSERT INTO gene (id, name, sequence, eid) VALUES ("+ str(i+25) + ", 'gname'  " +", 'TATA' ,"+ str(i+1) + ")")
    
conn.commit()

In [3]:
# Add enzyme

for i in range(12):  
    c.execute("INSERT INTO enzyme (id, name, function) VALUES ("+ str(i+1) + ", 'enzname'  " +", 'good' "+ ")")
    
conn.commit()

NameError: name 'c' is not defined

In [8]:
# Add enpa

# for i in range(12):
#     c.execute("INSERT INTO en_pa (eid, pid) VALUES ("+ str(i+1) + "," + str(int(i/4)+1) + ")")

c.execute("INSERT INTO en_pa (eid,pid) VALUES (" + str(4) + ", " + str(2) + ")")
c.execute("INSERT INTO en_pa (eid,pid) VALUES (" + str(5) + ", " + str(1) + ")")
c.execute("INSERT INTO en_pa (eid,pid) VALUES (" + str(10) + ", " + str(1) + ")")

conn.commit()

In [3]:
# Add pathway

c.execute("INSERT INTO pathway (id, name, description) VALUES ("+ str(1) + ", 'Glycosis'  " +", 'breakdown glucose to pyruvate' "+ ")")
c.execute("INSERT INTO pathway (id, name, description) VALUES ("+ str(2) + ", 'TCA Cycle'  " +", 'make many NADH' "+ ")")
c.execute("INSERT INTO pathway (id, name, description) VALUES ("+ str(3) + ", 'Pentose Phosphate'  " +", 'Make NADP and pentose' "+ ")")
    
conn.commit()

In [2]:
import pandas as pd

print (pd.read_sql_query("SELECT * FROM gene;",conn))
print (pd.read_sql_query("SELECT * FROM enzyme;", conn))
print (pd.read_sql_query("SELECT * FROM pathway;", conn))
print (pd.read_sql_query("SELECT * FROM en_pa;", conn))

NameError: name 'conn' is not defined

In [1]:
# find -> what enzymes are in a pathway(TCA cycle)

#print (pd.read_sql_query("select eid from en_pa where pid = 2;",conn))
print (pd.read_sql_query("select id, name from enzyme where id in (select eid from en_pa where pid = 2);",conn))

NameError: name 'pd' is not defined

In [35]:
# find -> what GENES are in the enzyme(eid = 5)

print (pd.read_sql_query("select id, name from gene where eid in (select id from enzyme where id = 5);",conn))

   id   name
0   5  gname
1  17  gname
2  29  gname